<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/oferta.css" />
    <title>Oferta</title>
  </head>
  <body>
    <h1>Datos de Oferta Laboral</h1>
    <form action="/Oferta" method="post" id="oferta_validacion">
      <div class="input-box" id="grupo__titulo">
        <label for="TituloEmpleo">Titulo Del Empleo:</label>
        <input
          type="text"
          name="TituloEmpleo"
          id="TituloEmpleo"
          required
        /><br />
        <p class="formulario__input-error"></p>
      </div>

      <div class="input-box" id="grupo__descripcion">
        <label for="DescripcionEmpleo">Descripcion del Empleo:</label>
        <input
          type="text"
          name="DescripcionEmpleo"
          id="DescripcionEmpleo"
          required
        /><br />
        <p class="formulario__input-error"></p>
      </div>

      <div class="input-box" id="grupo__requisitos">
        <label for="RequisitosEmpleo">Requisitos del Empleo:</label>
        <input
          type="text"
          name="RequisitosEmpleo"
          id="RequisitosEmpleo"
          required
        /><br />
        <p class="formulario__input-error"></p>
      </div>

      <div class="input-box" id="grupo__habilidades">
        <label for="HabilidadesEmpleo">Habilidades para el Empleo:</label>
        <input
          type="text"
          name="HabilidadesEmpleo"
          id="HabilidadesEmpleo"
          required
        /><br />
        <p class="formulario__input-error"></p>
      </div>

      <div class="input-box" id="grupo__fechaInicio">
        <label for="FechaPublicacion">Fecha Publicacion del trabajo:</label>
        <input
          type="date"
          name="FechaPublicacion"
          id="FechaPublicacion"
          required
        /><br />
        <p class="formulario__input-error"></p>
      </div>

      <div class="input-box" id="grupo__fechafinal">
        <label for="FechaVencimiento">Fecha de final del trabajo:</label>
        <input
          type="date"
          name="FechaVencimiento"
          id="FechaVencimiento"
          required
        /><br />
        <p class="formulario__input-error"></p>
      </div>

      <label for="categoria">Categoria de su habilidad:</label>
      <select name="categoria" value="categoria" required>
        <option value="1" id="1">Pintores</option>
        <option value="2" id="2">Constructores</option>
        <option value="3" id="3">Plomeros</option>
        <option value="4" id="4">Electricistas</option>
        <option value="5" id="5">Carpinteros</option></select
      ><br />
      <label for="Nombre">Nombre usuario:</label>
      <input
        type="text"
        name="Nombre"
        id="Nombre"
        value="{{ men }}"
        readonly
      /><br />
      <input type="submit" value="Enviar" />
    </form>

    <script src="../static/js/js-formularios/oferta_validacion.js"></script>
  </body>
</html>
