<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    
    <title>Login</title>
</head>

<body>



    <div class="form-box register">
        <h2>Registrarse</h2>
        <form action="#" id="registro_validacion">
            <div class="input-box" id="grupo__usuario">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>
                <input type="Text" name="usuario" required>
                <label>Usuario</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__nombre">
                <span class="icon"><ion-icon name="accessibility">

                    </ion-icon></span>
                <input type="Text" name="nombreU" required>
                <label>Nombre</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__apellido">
                <span class="icon"><ion-icon name="accessibility"></ion-icon></span>
                <input type="Text" name="apellido" required>
                <label>Apellido</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__telefono">
                <span class="icon"><ion-icon name="phone-portrait"></ion-icon></span>
                <input type="Text" name="telefono" required>
                <label>Telefono</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__tipodocumento">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></ion-icon></span>
                <input type="Text" name="tdocumento" required>
                <label>Tipo Documento</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__numerodocumento">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
                <input type="Text" name="ndocumento" required>
                <label>Numero Documento</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__direccion">
                <span class="icon"><ion-icon name="map"></ion-icon></span>
                <input type="Text" name="direccion" required>
                <label>Direccion</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__correo">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="Text" name="correo" required>
                <label>Email</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="input-box" id="grupo__password">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password" required>
                <label>Password</label>
                <p class="formulario__input-error"></p>
            </div>

            <div class="recuperarcontra-2">
                <label><input type="checkbox">
                    <a href="/tc" style="text-decoration:none; color:#1CB5E0">Acepto los Términos y Condiciones</a>
                    <p class="formulario__input-error"></p>
                </label>
            </div>

            <button type="submit" class="btn">Registrarse
            </button>
            <div class="login-register">
                <p>¿Ya tienes un cuenta?<a href="#" class="login-link"> Login</a>
                </p>
            </div>
        </form>
    </div>


    </div>

    <script src="../static/js/js-formularios/registro_validacion.js"></script>
    <script src="../static/css/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>